# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Mitchell Gaming PC\OneDrive - Visual Risk IQ, LLC\VRIQ Files\MySQLFileLoad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
